body{
    font-family: 'Belgrano', serif;
    padding: 0;
    margin: 0;
}
header{
    height: 6vw;
    width: 100%;
    background-color: pink;
    color: #fafafa; 
    font-size: 5vw;
    text-align: center;
    padding: 0;
    margin: 0;
}
#twitterPage{
    background-image: url(images/birdsFlying.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 6vw;
    min-height: 48.4vw;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
}

img{
    border-radius: 100%;
    width: 11vw;
    height: 11vw;
}
.follow{
    width: 7vw;
    height: 3vw;
    border: 0;
    background-color: pink;
    color: #fafafa; 
    font-size: 2vw;
}
#mainDivContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.mainDiv{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 1vw;
    position: relative;
    margin: 1vw;
    border-radius:0.5vw;
}
.tweetForm{
    height: auto;
    min-height: 11vw;
}
.profile{
    display: flex;
    flex-direction: row;
    height: 11vw !important;
}
.tweetText{
    height: auto;
    min-height: 3vw;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color:pink;
    padding: 1vw;
    outline: none;
    resize: none;
    overflow: hidden;
    background-color: #fafafa;
}
.tweetText:focus{
    border: none;
    outline: pink solid 2px;
}

.tweetButton{
    width: 7vw;
    height: 3vw;
    border: 0;
    background-color: pink;
    color: #fafafa; 
    font-size: 2vw;
    margin-top: 1vw;
}
.tweetButton:disabled{
    background-color: pink;
    color: gray;
}
.buttonCount{
    display: flex;
    justify-content: space-between;
}
.myTweet{
    width: 64%;
    height: auto;
    background-color: #fafafa; 
    padding: 1vw;
    position: relative;
    border-radius:1vw;
    margin-top:1vw;  
}
.newTweet{
    border-bottom: 1px solid black;
    padding: 0.5vw;
    font-weight: 900;
}